@charset "UTF-8";

@import "base.css";

/*-------------------------------------------------------------------------
	All
/*-----------------------------------------------------------------------*/
#all {
	display:none;
	padding:80px;
}

	#all input {
		width:200px;
		padding:6px;
		border:1px solid #aaa;
		line-height:1.2;
	}
	
	#all input[type="checkbox"] {
		width:auto;
		margin:0 5px;
		padding:0;
	}

	#all textarea {
		padding:10px;
		border:1px solid #aaa;
		font-size:12px;
		text-align:justify;
		letter-spacing:1px;
		line-height:1.6;
	}
	
	#all button {
		padding:5px 20px;
		border:none;
		border-radius:3px;
		background:#259c8f;
		color:#fff;
		font-size:14px;
		cursor:pointer;
	}
	
	#all button:hover {
		background-color:#53c0b4;
	}
	
/*-------------------------------------------------------------------------
	Header
/*-----------------------------------------------------------------------*/
#header {
	margin-bottom:30px;
}

	#filename {
		height:20px;
	}