@charset "UTF-8";

@import "common/layout.css";

/*-------------------------------------------------------------------------
	Form
/*-----------------------------------------------------------------------*/
#form {
	display:none;
}
	
	#form ul,
	#form p {
		margin-bottom:20px;
	}
	
		#form ul li {
			float:left;
			margin-right:10px;
		}
			
		#form ul li:last-child {
			position:relative;
			top:3px;
		}